@font-face{
    font-family: Exo2;
    src: url(media/fonts/Exo2.ttf);
}

* { 
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background-image: url(media/img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Exo2, sans-serif;
}

.content {
    display: grid;
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 2%;
    grid-template-areas: 
    ". . . ."
    "menu main main main"
    "menu main main main" 
    "menu main main main" 
    "menu main main main" 
    "menu main main main" 
    "menu main main main" 
    "menu main main main" 
    "menu main main main" 
    "menu main main main" 
    ". . . ."
    "footer footer footer footer";
}

/*menu*/
.menu {
    grid-area: menu;
    background: rgba(0, 0, 0, .7);
    position: relative;
}

.menu > ul {
    list-style: none;
    width: 100%;
    height: 100%;
}

.menu > ul > li {
    grid-area: menu-link;    
    height: 20%;
}

.menu > ul > li.menu-active {
    background: rgba(255, 0, 0, 0.2);
}

.menu > ul > li > a {
    display: block;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 1.55vw;
    text-align: center;
    line-height: 7vw;
    transition: background .5s ease;
}


.menu > ul > li > a:hover {
    background: rgba(255, 0, 0, 0.2);
    color: rgb(228, 238, 96);
}

.menu > ul > li:not(:last-child):after {
    content: '';
    position: absolute;
    width: 80%;
    left: 10%;
    border-bottom: 2px dashed rgb(228, 238, 96);
}

/*main*/
.main {
    grid-area: main;
    background: rgba(0, 0, 0, .7);
    overflow-y: scroll;
}

.main > ol {
    color: white;
    list-style: square; 
    font-size: 3vw;
    margin-left: 10%;
}

.main > img, video {
    width: 80%;
    position: relative;
    left: 10%;
    height: auto;
    margin-top: 5%;
    background-attachment: fixed;
}

.main > h1, h2, h3 {
    color: white;
    text-align: center;
    margin-top: 5%;
}

.main > h1 {
    font-size: 3vw;
}

.main > h2 {
    font-size: 2vw;
}

.main > h3 {
    font-size: 1vw;
}

/*footer*/
footer {
    grid-area: footer;
    background: rgba(0, 0, 0, .8);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

footer > p {
    color: white;
    font-size: 1.15vw;
    margin-top: 1%;
    margin-left: 5%;
}

footer > .links {
    display: flex;
    margin-left: 45%;
    margin-top: 2%;
}

footer > .links > a > .tg {
    background: url(media/img/telegram.png);
    width: 3vw;
    height: 3vw;
    background-position: center;
    background-size: cover;
    transition: background .5s ease;
} 

footer > .links > a > .tg:hover {
    background: url(media/img/telegram_hover.png);
    width: 3vw;
    height: 3vw;
    background-position: center;
    background-size: cover;
}


footer > .links > a > .gh:hover {
    background: url(media/img/github_hover.png);
    width: 3vw;
    height: 3vw;
    background-position: center;
    background-size: cover;
}

footer > .links > a > .gh {
    background: url(media/img/github.png);
    width: 3vw;
    height: 3vw;
    background-position: center;
    background-size: cover;
    transition: background .5s ease;
} 

footer > p > .wiki a {
    color: red;
} 

footer > p > .wiki a:hover {
    text-decoration: underline;
}